@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 body {
        background-color: #A9A9A9;
        font-size: 18px;
        font-family: Helvetica, Arial, sans-serif;
        text-rendering: optimizeLegibility;
        line-height: 1.5;
        max-width: 100%;
}

#navbar {
        width: 100%;
        height: 70px;
        font-size: 14px;
        font-family: times new roman;
        position: fixed;
        top: 0rem; left: 0rem;
        text-align: right;
        background-color: #696969;
        opacity: 1.0;
        display: inline;
        z-index: 3;
}
.enter{

      padding: 8px 8px 4px 4px;
}

#logo{
      position: fixed;
      top: 100px;
      left: 10px;
}

.form-group{
          float: right;
}

.signup{
        float: right;
}

.container{
        background: #DCDCDC; 
}

.footer{
          width: 100%;
          font-size: 16px;
          position: fixed;
          bottom: 0rem;
          background: #000000;
          opacity: 0.8;
          color: #FFFFFF;
}

.navbar-form{
         text-align: right;
}

li{
  list-style-type: none;
}

rough{
  background: url('car environment.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

