@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 body {
        background-color: #ffffff;
        font-size: 18px;
        font-family: Helvetica, Arial, sans-serif;
        text-rendering: optimizeLegibility;
        line-height: 1.5;
        max-width: 100%;
}

#navbar {
        width: 100%;
        height: 70px;
        font-size: 14px;
        font-family: times new roman;
        position: fixed;
        top: 0rem; left: 0rem;
        text-align: right;
        background-color: #696969;
        opacity: 1.0;
        display: inline;
        z-index: 3;
}
.text_field-size {
 width: 150px;
  }

.style_image {
      width: 800px;
      height: 400px;
}
.enter{

      padding: 8px 8px 4px 4px;
}
input,textarea,select, .uneditable-input
{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  

}
input{
  height: auto !important
}
.logo{
      position: fixed;
      top: 1px;
      left: 10px;
}

.form-group{
          float: right;
}



.container{
        background: #DCDCDC; 
}

.footer{
          font-size: 16px;
          width:100%;
          height:100px;
          position:fixed;
          bottom:0;
          left:0;
          background:#000000;
          opacity: 0.8;
          color: #FFFFFF;
}

.user, .new, .edit, .show, .update
{
       text-align: center;
}
.car-new{
  text-align: center;
}
.car-edit{
  text-align: left;
}
.signup, .signin, .row
{
       text-align: center;
}


.navbar-form{
         text-align: right;
}

li{
  list-style-type: none;
}
.carousel-control{
  width:150px;
}
