<!DOCTYPE html>
<html>
<head>
  <title>Car_pinion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Car_Pinion</h1>
<%= yield %>

</body>
</html>
